@font-face {
    font-family: 'Hammersmith One';
    src: url("../font/HammersmithOne-Regular.ttf") format("truetype");
    font-style: normal;
}

body {
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    text-align: center;
    font-family: "Hammersmith One";
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titulo {
    display: flex;
    width: 100%;
    font-size: 48px;
    color: #fff;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    font-family: "Hammersmith One";
}
ul{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    margin: 0;
    list-style: none;
}
.card {
    height: 500px;
    margin: 10px;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 3px 5px 5px #00000072;
    flex: 1;
    transition: .4s flex;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    transition: all .5s;
    padding: 10px;
    border-radius: 25px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.nav-link:hover{
    background-color: #fff;
    color: #000;
}

.nav-item-dropdown{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    margin: 0;
    list-style: none;
}

.dropdown-toggle{
    font-family: "Hammersmith One";
    color: #fff;
    text-decoration: none;
    transition: all .5s;
    padding: 10px;
    border-radius: 25px;
    margin: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.dropdown-toggle:hover{
    background-color: #fff;
    color: #1F1C2C;
}

#logout-form.d-none{
    margin: 0;
}